
html, body, div {
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
}
p {
  margin: 0;
}
body {
  background-color: white;
  color: #333;
  font-family:  -apple-system,"SF UI Text",Roboto,Noto,"Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
html {
  //overflow: hidden;
}
html, body, #root, #root > div {
  height: 100%;
}

button {
  border-radius: 2px;
  padding: 0px;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
